ErrorDocument 404 /404
ErrorDocument 403 /403

<Files config.php>
Deny from all
</Files>
<Directory ".git">
Deny from all
</Directory>
<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteRule ^metadmin/version/?$ index.php?page=api/metadmin_version [L,NE]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !=/favicon.ico
  RewriteRule ^(.*)$ index.php?page=$1 [L,QSA]
</IfModule>
