.version.____________1 /* version checker */
{
	color: #00001F;
	background-color: #740813;
}

.html
{
	background-color: #283741;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1080px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #283741;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 62px;
}

#pu388
{
	width: 0.01px;
	margin-left: -100px;
}

#u388
{
	z-index: 2;
	background: #30536B url("../img/u388-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#212526),color-stop(86%, #30536B));
	background: -webkit-linear-gradient(top,#212526 ,#30536B 86%);
	background: -o-linear-gradient(top,#212526 ,#30536B 86%);
	background: linear-gradient(to bottom,#212526 ,#30536B 86%);
	border-style: none;
	border-color: transparent;
	padding-bottom: 11px;
}

#u388_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
}

#u390
{
	z-index: 3;
	width: 760px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 114px;
	padding: 301px 188px 134.20000000000027px 44px;
	background: transparent url("../img/update-day2.png") no-repeat center top;
	background-size: cover;
}

#u387
{
	z-index: 25;
	width: 112px;
	height: 50px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../img/day-u319-fr.png") no-repeat left top;
	background-size: contain;
}

#u393-6
{
	z-index: 4;
	width: 280px;
	min-height: 330px;
	color: #BCBBC6;
	font-size: 14px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-left: 480px;
	margin-top: 531px;
	position: relative;
}

#u391-7
{
	z-index: 10;
	width: 236px;
	min-height: 223px;
	color: #BCBBC6;
	font-size: 14px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-left: 164px;
	margin-top: 130px;
	position: relative;
}

#u392-4
{
	z-index: 17;
	width: 505px;
	min-height: 223px;
	color: #BCBBC6;
	font-size: 14px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-left: 217px;
	margin-top: 114px;
	position: relative;
}

#u388-bw
{
	z-index: 2;
	height: 2141px;
}

#u398
{
	z-index: 26;
	width: 992px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 231px;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 114px;
	background: transparent url("../img/update-header-u271-fr.png") no-repeat left top;
	background-size: contain;
}

#u379
{
	z-index: 27;
	width: 128px;
	height: 128px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 71px;
	background: transparent url("../img/icon_st1-u268-fr.png") no-repeat left top;
	background-size: contain;
}

#u379:hover
{
	margin: 35px -10000px 0px 0px;
	background: transparent url("../img/icon_st2-u268-r-fr.png") no-repeat left top;
	background-size: contain;
}

#u384
{
	z-index: 32;
	position: relative;
	width: 54px;
	margin-right: -10000px;
	margin-top: 335px;
	left: 196px;
}

#u384_img
{
	vertical-align: top;
	width: 54px;
	height: 68px;
	background: url("../img/day2-u384-a.png") no-repeat 0px 0px;
}

#u383
{
	z-index: 29;
	height: 68px;
	width: 54px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 397px;
	left: 268px;
	background: url("../img/day1-u383.png") no-repeat 9px 9px;
}

#u383:hover
{
	background: url("../img/day1-st1-u383-r.png") no-repeat 9px 9px;
}

#u383:active
{
	background: url("../img/day1-st1-u383-m.png") no-repeat 0px 0px;
}

#u382
{
	z-index: 34;
	height: 68px;
	width: 54px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 397px;
	left: 353px;
	background: url("../img/day3-u382.png") no-repeat 9px 9px;
}

#u382:hover
{
	background: url("../img/day3-st1-u382-r.png") no-repeat 9px 9px;
}

#u382:active
{
	background: url("../img/day3-st1-u382-m.png") no-repeat 0px 0px;
}

#u389-4
{
	z-index: 21;
	width: 734px;
	min-height: 38px;
	color: #007B7F;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 143px;
	margin-top: 9px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

