.version.index /* version checker */
{
	color: #0000FA;
	background-color: #143779;
}

.html
{
	background-color: #283741;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1017px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #283741;
	padding-bottom: 63px;
	margin-left: auto;
	margin-right: auto;
}

#u77
{
	z-index: 2;
	background: #30536B url("../img/u77-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#212526),color-stop(86%, #30536B));
	background: -webkit-linear-gradient(top,#212526 ,#30536B 86%);
	background: -o-linear-gradient(top,#212526 ,#30536B 86%);
	background: linear-gradient(to bottom,#212526 ,#30536B 86%);
	border-style: none;
	border-color: transparent;
}

#u77_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
}

#u77_position_content
{
	padding-top: 1115px;
}

#u221
{
	z-index: 5;
	vertical-align: top;
	width: 455px;
	height: 320px;
	left: 407px;
	position: relative;
	background: url("../img/amp_amp_izobrazhenie8-u221.png") no-repeat 0px 0px;
}

#u120
{
	z-index: 4;
	width: 255px;
	height: 221px;
	border-style: none;
	border-color: transparent;
	left: 504px;
	margin-top: 705px;
	position: relative;
	background: transparent url("../img/frame3-u120-fr.png") no-repeat center top;
	background-size: contain;
}

#u77-bw
{
	z-index: 2;
	margin-top: -124px;
	height: 2360px;
}

#u477
{
	z-index: 3;
	height: 703px;
	border-style: none;
	border-color: transparent;
	background: transparent url("../img/update-back.png") no-repeat center center;
	background-size: cover;
}

#u477-bw
{
	z-index: 3;
	height: 703px;
}

#u231
{
	z-index: 6;
	vertical-align: top;
	width: 455px;
	height: 320px;
	position: relative;
	margin-right: -10000px;
	margin-top: 735px;
	left: 306px;
	background: url("../img/amp_amp_izobrazhenie3-u231.png") no-repeat 0px 0px;
}

#u238
{
	z-index: 7;
	vertical-align: top;
	width: 457px;
	height: 320px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1248px;
	left: 307px;
	background: url("../img/amp_amp_izobrazhenie2-u238.png") no-repeat 0px 0px;
}

#u245
{
	z-index: 8;
	vertical-align: top;
	width: 860px;
	height: 495px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1517px;
	left: 104px;
	background: url("../img/amp_amp_izobrazhenie1-u245.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

