.version.index /* version checker */
{
	color: #000008;
	background-color: #F2F893;
}

.html
{
	background-color: #283741;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1018px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #283741;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u77
{
	z-index: 2;
	background: #30536B url("../img/u77-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#212526),color-stop(86%, #30536B));
	background: -webkit-linear-gradient(top,#212526 ,#30536B 86%);
	background: -o-linear-gradient(top,#212526 ,#30536B 86%);
	background: linear-gradient(to bottom,#212526 ,#30536B 86%);
	border-style: none;
	border-color: transparent;
}

#u77_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
	padding-top: 220px;
	padding-bottom: 810px;
}

#u120
{
	z-index: 3;
	width: 630px;
	height: 409px;
	border-style: none;
	border-color: transparent;
	left: 295px;
	position: relative;
	background: transparent url("../img/frame3-u120-fr.png") no-repeat center top;
	background-size: contain;
}

#pu231
{
	width: 0.01px;
	left: 146px;
	margin-top: 152px;
	position: relative;
}

#u231
{
	z-index: 6;
	vertical-align: top;
	width: 455px;
	height: 320px;
	margin-bottom: -9px;
	position: relative;
	margin-right: -10000px;
	background: url("../img/amp_amp_izobrazhenie3-u231.png") no-repeat 0px 0px;
}

#u221
{
	z-index: 5;
	vertical-align: top;
	width: 455px;
	height: 320px;
	margin-bottom: -9px;
	position: relative;
	margin-right: -10000px;
	left: 483px;
	background: url("../img/amp_amp_izobrazhenie8-u221.png") no-repeat 0px 0px;
}

#u77-bw
{
	z-index: 2;
	margin-top: -124px;
	height: 1902px;
}

#u169
{
	z-index: 4;
	width: 87px;
	height: 87px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 212px;
	background: transparent url("../img/icon_st1-u169-fr.png") no-repeat left top;
	background-size: contain;
}

#u169:hover
{
	margin: 37px -10000px 0px 0px;
	background: transparent url("../img/icon_st2-u169-r-fr.png") no-repeat left top;
	background-size: contain;
}

#u238
{
	z-index: 7;
	vertical-align: top;
	width: 457px;
	height: 320px;
	position: relative;
	margin-right: -10000px;
	margin-top: 936px;
	left: 286px;
	background: url("../img/amp_amp_izobrazhenie2-u238.png") no-repeat 0px 0px;
}

#u245
{
	z-index: 8;
	vertical-align: top;
	width: 860px;
	height: 495px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1216px;
	left: 85px;
	background: url("../img/amp_amp_izobrazhenie1-u245.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

